# Django
*.log
*.pot
*.pyc
__pycache__/
local_settings.py
db.sqlite3
db.sqlite3-journal
media

# Virtual Environment
venv/
env/
ENV/
env.bak/
venv.bak/

# Environment Variables
.env

# Data Files
fuel_prices.csv
us_states.geojson

# IDE / OS
.idea/
.vscode/
*.swp
.DS_Store
__MACOSX/

# Python
*.py[cod]
*$py.class
.pytest_cache/
.coverage
htmlcov/
